<div>
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <h2 *ngIf="tag">#{{tag.name}}</h2>
    </div>
    <div class="col-xs-12 col-md-2">
      <app-discussion-card-view-type-select *ngIf="false"></app-discussion-card-view-type-select>
    </div>
    <div class="col-xs-12 col-md-2">
      <app-discussion-card-sort-select></app-discussion-card-sort-select>
    </div>
  </div>
  <small *ngIf="communities?.length > 0">
    <ul class="list-inline trending-communities">trending communities:
      <li class="list-inline-item" *ngFor="let community of communities">
        <a class="link-unstyled" [routerLink]="['/community', community.id]">~{{removeQuotes(community.name)}}</a>
      </li>
    </ul>
  </small>

  <div class="row">
    <div class="col-12">
      <app-status-update *ngIf="tag" [tag]="tag"></app-status-update>
    </div>
  </div>

  <div (window:scroll)="onScroll($event)">
    <div *ngIf="!isCard()" class="list-group">
      <app-discussion-card *ngFor="let discussion of discussions" [discussion]="discussion "></app-discussion-card>
    </div>
    <div *ngIf="isCard()">
      <div class="col-xs-12">
        <ngx-masonry [options]="{gutter: 10, transitionDuration: '0.2s'}" [useImagesLoaded]="true">
          <ngxMasonryItem class="masonry-item mb-2" *ngFor="let discussion of discussions">
            <app-discussion-card [discussion]="discussion "></app-discussion-card>
          </ngxMasonryItem>
        </ngx-masonry>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <i *ngIf="loadingDiscussions" class="fa fa-circle-o-notch fa-spin fa-5x fa-center"></i>
        <h4 *ngIf="discussions?.length == 0">No Discussions</h4>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
