<nav class="navbar navbar-dark bg-dark navbar-expand-lg">

  <button (click)="toggleCollapseNavbar()" class="navbar-toggler navbar-toggler-right" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="['/']">
    <i class="fa fa-fw fa-pencil-square-o"></i>&nbsp;FlowChat</a>
  <div [class.collapse]="collapseNavbar" class="collapse navbar-collapse">
    <ul class="navbar-nav">

      <form [formGroup]="discussionSearchForm" class="form-inline">
        <input formControlName="discussionSearchControl" [(ngModel)]="discussionSearchSelected" [typeahead]="discussionSearchResultsObservable"
          (typeaheadOnSelect)="discussionTypeaheadOnSelect($event.item)" [typeaheadOptionField]="'title'" (typeaheadLoading)="discussionChangeTypeaheadLoading($event)"
          (typeaheadNoResults)="discussionChangeTypeaheadNoResults($event)" [typeaheadWaitMs]="200" class="form-control mr-sm-2 search-box"
          type="text" placeholder="Search" name="discussion_form" autocomplete="off">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
          <i class="fa fa-search"></i>
        </button>
      </form>
    </ul>
    <ul class="navbar-nav ml-2 mr-auto">
      <li class="nav-item">
        <button role="button" class="btn btn-outline-primary mr-2" (click)="createDiscussion()">Create a discussion</button>
      </li>
      <li class="nav-item">
        <button role="button" class="btn btn-outline-primary mr-2" (click)="createCommunity()">Create a community</button>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/tchoulihan/flowchat" target="_blank">about</a>
      </li>
      <li class="nav-item">
        <a role="button" class="nav-link" href="https://github.com/dessalines/flowchat" placement="bottom" target="_blank">
          github
        </a>
      </li>
      <li class="nav-item">
        <a role="button" class="nav-link" placement="bottom" tooltip="Donate to the developer" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=2XTHDEBUNQ47U&lc=US&item_name=FlowChat&item_number=flowchat_02&amount=5%2e00&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHosted"
          target="_blank">
          donate
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav my-lg-0">
      <li dropdown class="nav-item" keyboardNav="true">
        <a class="nav-link pointer" role="button" type="button" dropdownToggle placement="bottom">
          <span *ngIf="unreadMessages?.length > 0" class="badge badge-info navbar-label ml-2">{{unreadMessages?.length}}</span>
          Messages
        </a>
        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right messages-dropdown" role="menu">
          <h6 class="dropdown-header">Messages
            <small role="button" (click)="markAllNotificationsAsRead()" placement="bottom" tooltip="Mark all as read">
              <i class="fa fa-fw fa-check"></i>
            </small>
          </h6>
          <li *ngFor="let message of unreadMessages" role="menuitem">
            <div class="dropdown-item" role="button" (click)="gotoMessage(message)">
              <div [innerHTML]="message.text | markdown"></div>
              <small>
                <ul class="list-inline">
                  <li class="list-inline-item">from {{message.user.name}}</li>
                  <li *ngIf="message.deleted" class="text-muted list-inline-item">
                    <small>
                      <i>deleted {{message.modified | moment}}</i>
                    </small>
                  </li>
                  <span *ngIf="!message.deleted">
                    <li *ngIf="!message.modified" class="text-muted list-inline-item">
                      <small>{{message.created | moment}}</small>
                    </li>
                    <li *ngIf="message.modified" class="text-muted list-inline-item">
                      <small>
                        <i>modified {{message.modified | moment}}</i>
                      </small>
                    </li>
                  </span>
                </ul>
              </small>
            </div>
          </li>
        </ul>
      </li>
      <li *ngIf="!userService.isAnonymousUser()" dropdown class="nav-item pointer" keyboardNav="true">
        <a class="nav-link" role="button" type="button" dropdownToggle>
          {{userService.getUser().name}}
          <i class="ml-2 fa fa-caret-down"></i>
        </a>
        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
          <li role="menuitem">
            <a (click)="logout()" class="dropdown-item" href="#">
              <i class="fa fa-fw fa-sign-out"></i>Logout</a>
          </li>
        </ul>
      </li>
      <li *ngIf="!userService.isFullUser()" class="nav-item pointer">
        <a role="button" class="nav-link" (click)="toggleLoginModal()">Login/Signup</a>
      </li>
      <!-- <li *ngIf="userService.isAnonymousUser()" class="nav-item hidden-xs-up pointer">
        <a (click)="logout()" role="button" class="nav-link">Logout</a>
      </li> -->
    </ul>
  </div>
</nav>

<app-login-modal *ngIf="showLoginModal" (hideEvent)="hiddenEvent()"></app-login-modal>

