<div class="row bottom-margin">
  <div class="col-md-10">
    <div class="card">
      <div class="card-block">
        <h2 class="card-title">{{discussion?.title}}
          <a *ngIf="discussion?.link" href="{{discussion?.link}}" target="_blank"><small><i class="fa fa-fw fa-external-link" aria-hidden="true"></i></small></a>
        </h2>
        <p *ngIf="discussion?.text" class="card-text"[innerHTML]="discussion.text | markdown"></p>
        <p class="text-muted">created by {{discussion?.userName}}</p>
        <ul *ngIf="discussion?.tags" class="list-inline">tags:
          <li class="label label-default list-inline-item" *ngFor="let tag of discussion?.tags">
            <a class="link-unstyled" href="{{tag.id}}">{{tag.name}}</a>
          </li>
        </ul>
      
      
        <ul class="list-inline">
          <li *ngIf="discussion?.private" class="label label-danger list-inline-item">Private</li>
          <li *ngIf="userService.getUser().id != discussion?.userId" role="button" class="list-inline-item" (click)="toggleShowVoteSlider()"><i class="fa fa-fw fa-star-half-o"></i></li>
          <li *ngIf="discussion?.avgRank" class="label label-pill label-default list-inline-item">{{discussion?.avgRank}}</li>
          <li *ngIf="discussion?.userRank" class="label label-pill label-info list-inline-item">{{discussion?.userRank}}</li>
          <li *ngIf="discussion?.numberOfVotes" class="text-muted list-inline-item"><small>{{discussion?.numberOfVotes}} votes</small></li>
          <li *ngIf="discussion?.link" class="list-inline-item"><a href="{{discussion?.link}}" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a></li>
          <li *ngIf="!discussion?.modified" class="text-muted list-inline-item"><small>created {{discussion?.created | moment}}</small></li>
          <li *ngIf="discussion?.modified" class="text-muted list-inline-item"><small><i>modified {{discussion?.modified | moment}}</i></small></li>

        </ul>
        <div *ngIf="showVoteSlider">
          <input [value]="discussion?.userRank" (mouseup)="saveDiscussionRank($event.target.value)" (input)="updateDiscussionRank($event.target.value)" type="range" min="0" max="100" step="1" (value)="discussion?.userRank"/>
        </div>

        </div>
  

    </div>
    <div *ngFor="let comment of comments" class="card">
      <app-comment [comment]="comment" (replyingEvent)="setIsReplying($event)"></app-comment>
    </div>
  </div>
  <div class="col-md-2">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Users</h4>
        <dd *ngFor="let user of users">{{user.name}}</dd>
      </div>
    </div>
  </div>
</div>
<nav *ngIf="!topParentId && !clearTopReply" class="navbar navbar-fixed-bottom navbar-light bg-faded">
  <app-markdown-edit (textEvent)="setTopReply($event)" [rows]="1"></app-markdown-edit>
  <button (click)="sendTopReply()" class="btn btn-primary-outline pull-xs-right special-nav-button" type="submit">Send</button>
</nav>
