@import "../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../node_modules/bootstrap/scss/variables";
//
// Card
//
// @include media-breakpoint-up(sm) {
//   .card-columns {
//     column-count: 3;
//     column-gap: 1.25rem;
//     .card {
//       display: inline-block;
//       width: 100%; // Don't let them exceed the column width
//     }
//   }
// }

.card-deck {

  .col-md-4 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .card {
    margin-bottom: 20px;
  }
}

.card-columns {

  @include media-breakpoint-up(xs) {
    &.card-columns-xs-1 {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
    }
    &.card-columns-xs-2 {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
    }
    &.card-columns-xs-3 {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
    }
    &.card-columns-xs-4 {
      -webkit-column-count: 4;
      -moz-column-count: 4;
      column-count: 4;
    }
  }
  @include media-breakpoint-up(sm) {
    &.card-columns-sm-1 {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
    }
    &.card-columns-sm-2 {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
    }
    &.card-columns-sm-3 {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
    }
    &.card-columns-sm-4 {
      -webkit-column-count: 4;
      -moz-column-count: 4;
      column-count: 4;
    }
  }
  @include media-breakpoint-up(md) {
    &.card-columns-md-1 {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
    }
    &.card-columns-md-2 {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
    }
    &.card-columns-md-3 {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
      .card {
        display: inline-block;
        width: 100%; // Don't let them exceed the column width
      }
    }
    &.card-columns-md-4 {
      -webkit-column-count: 4;
      -moz-column-count: 4;
      column-count: 4;
    }
  }
  @include media-breakpoint-up(lg) {
    &.card-columns-lg-1 {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
    }
    &.card-columns-lg-2 {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
    }
    &.card-columns-lg-3 {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
    }
    &.card-columns-lg-4 {
      -webkit-column-count: 4;
      -moz-column-count: 4;
      column-count: 4;
      .card {
        display: inline-block;
        width: 100%; // Don't let them exceed the column width
      }
    }
  }
}
