.fa {
  vertical-align: middle
}

.link-unstyled {
  color: inherit;
  text-decoration: inherit;
}

.list-inline {
  margin-bottom: 0px;
}

.card-columns {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
}

.card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
  box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

.label {
  vertical-align: middle;
}

.list-group-item {
  border: none;
  border-top: 1px solid #ddd;
}

.list-group-item:first-child {
  border-top: none;
}

.truncate {
  display: inline-block;
  /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: inherit;
  line-height: inherit;
}

blockquote {
  margin: 0 10px .5rem;
  padding-left: 10px;
  border-left: 3px solid #ccc;
}

.dropdown-menu {
  margin: 11px 0 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
}

.dropdown-menu>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.dropdown-menu>li>div>div>p {
  margin-bottom: .2rem;
  white-space: normal;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}

.navbar-label {
  font-size: 10px;
  padding: 0 3px;
  line-height: 10px;
  position: absolute;
  display: block;
  right: 15px;
}

.card-title,
.card-text,
.card-text>p {
  margin-bottom: .2rem;
}

.navbar-brand {
  font-weight: 900;
}

.navbar {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.ng-pristine.ng-invalid {
  box-shadow: none;
}

.btn {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.modal-content {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

a {
  transition: all 0.2s;
}
