.pointer {
  cursor: pointer;
}

.link-unstyled, .link-unstyled:link {
  color: inherit;
  text-decoration: inherit;
}

.form-control {
  background: transparent !important;
  border-color: grey;
  color: grey !important;
}
.card-title,
.card-text,
.card-text>p {
  margin-bottom: .1rem !important;
}

.mark {
  background-color: #424429;
}

.inline {
  display: inline;
}

.masonry-item {
  @media (min-width: 480px) {
    width: calc(32%);
  }
  @media (max-width : 480px) {
    width: calc(100%);
  }
}