.fa {
  vertical-align: middle
}

.link-unstyled {
  color: inherit;
  text-decoration: inherit;
}

.list-inline {
  margin-bottom: 0px;
}

.card-columns {
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

.label {
	vertical-align: middle;
}

.list-group-item {
  border: none;
  border-top: 1px solid #ddd;
}

.list-group-item:first-child {
  border-top: none;
}

.truncate {
  display: inline-block; /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: inherit;
  line-height: inherit;
}

blockquote {
  margin: 0 10px .5rem;
  padding-left: 10px;
  border-left: 3px solid #ccc;
} 

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #337ab7;
    outline: 0;
}