<div class="container">
  <hr class="featurette-divider">
  <footer>
    <p class="pull-right"><a href="#">back to top</a>
    </p>
    <p>© 2016 Flow, Inc. · <a href="https://github.com/tchoulihan/flow"
        target="_blank">about</a> · <a href="https://github.com/tchoulihan/flow"
        target="_blank">contact</a> · <a href="https://github.com/tchoulihan/flow"
        target="_blank">support</a> · <a href="https://github.com/tchoulihan/flow"
        target="_blank">github</a> · <a href="https://www.reddit.com/r/flow_/">subreddit</a>
      <br>
    </p>
  </footer>
</div>
