<!-- Modals -->
<div bsModal #loginModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
  (onHidden)="hiddenEvent()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <button id="closeModalButton" type="button" class="close" (click)="loginModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="row">
          <div class="col-md-6 vertical-line-right">
            <h4 class="text-center"> Signup </h4>
            <br>
            <form #signupForm="ngForm" (ngSubmit)="signupSubmit()" class="form-horizontal" role="form">
              <div class="form-group">
                <div class="col-sm-12">
                  <input [(ngModel)]="signup.username" #signupName="ngModel" ngControl="signupName" class="form-control" placeholder="choose a username"
                    required minlength="5" maxlength="20" pattern="[a-zA-Z0-9_-]+" name="signup_username" />
                  <div *ngIf="signupName.dirty" class="row col-sm-12 help-block text-danger">
                    <small *ngIf="signupName.errors?.required">A username is required</small>
                    <small *ngIf="signupName.errors?.minlength">Username must be more than 5 characters</small>
                    <small *ngIf="signupName.errors?.pattern">Illegal Characters</small>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <input [(ngModel)]="signup.password" #signupPassword="ngModel" ngControl="signupPassword" type="password" class="form-control"
                    placeholder="password" required name="signup_password" />
                  <div *ngIf="signupPassword.dirty" class="row col-sm-12 help-block text-danger">
                    <small *ngIf="signupPassword.errors?.required">a password is required</small>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <input [(ngModel)]="signup.verifyPassword" #signupVerifyPassword="ngModel" ngControl="signupVerifyPassword" type="password"
                    class="form-control" placeholder="verify password" required name="signup_verify_password" />
                  <div *ngIf="signupVerifyPassword.dirty" class="row col-sm-12 help-block text-danger">
                    <small *ngIf="signupVerifyPassword.errors?.required">a password is required</small>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <input [(ngModel)]="signup.email" #signupEmail="ngModel" ngControl="signupEmail" class="form-control" placeholder="email (optional)"
                    pattern="\S+@\S+\.\S+" name="signup_email" />
                  <div *ngIf="signupEmail.dirty" class="row col-sm-12 help-block text-danger">
                    <small *ngIf="signupEmail.errors?.pattern">Invalid Email</small>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <button [disabled]="!signupForm.form.valid" type="submit" class="btn btn-outline-primary btn-lg btn-block">Sign up</button>
                </div>
              </div>
            </form>
          </div>
          <!-- The sign up tab -->
          <div class="col-md-6">
            <h4 class="text-center"> Log in </h4>
            <br>
            <form #loginForm="ngForm" (ngSubmit)="loginSubmit()" class="form-horizontal">
              <div class="form-group">
                <div class="col-sm-12">
                  <input id="login-input" [(ngModel)]="login.usernameOrEmail" #loginName="ngModel" ngControl="loginName" class="form-control"
                    placeholder="username or email" minlength="5" maxlength="140" required name="login_username" />
                  <div *ngIf="loginName.dirty" class="row col-sm-12 help-block text-danger">
                    <small *ngIf="loginName.errors?.required">A username is required</small>
                    <small *ngIf="loginName.errors?.minlength">Username must be more than 5 characters</small>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <input [(ngModel)]="login.password" #loginPassword="ngModel" ngControl="loginPassword" type="password" type="password" class="form-control"
                    placeholder="password" required name="login_password" />
                  <div *ngIf="loginPassword.dirty" class="row col-sm-12 help-block text-danger">
                    <small *ngIf="loginPassword.errors?.required">a password is required</small>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <button [disabled]="!loginForm.form.valid" type="submit" class="btn btn-outline-primary btn-lg btn-block">Login</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>