.card-body-no-bottom {
  padding-bottom: 2px;
  margin-bottom: 0px;
}

.card-body-no-top {
  padding-top: 2px;
}

.list-group-item {
  padding: 0.5rem 1.25rem;
  margin-bottom: 10px;
}

h1 {
  font-size: 2.6vw;
}

.progress {
  display: inline-flex;
  width: 85%;
}