<div class="card">
  <div *ngIf="discussion && !discussion?.deleted">
    <div *ngIf="!editMode">
      <div class="card-block card-block-no-bottom">
        <h4 class="card-title">
          <a [routerLink]="['/discussion', discussion.id]" class="link-unstyled">{{discussion?.title}} </a>
          <small *ngIf="discussion && isCreator()"><i class="fa fa-fw fa-edit" role="button" (click)="toggleEditMode()" tooltipPlacement="bottom" tooltip="Edit"></i></small>
        </h4>
      </div>
      <a *ngIf="discussion?.link && isImageType(discussion?.link)"
        href="{{discussion?.link}}" target="_blank">
        <div [innerHTML]="discussion.link | markdown"></div>
      </a>
      <div class="card-block card-block-no-top">
        <p *ngIf="discussion?.text" class="card-text"
          [innerHTML]="discussion.text | markdown"></p>
        <small>
        <ul *ngIf="discussion?.tags" class="list-inline">tags:
          <li class="tag tag-default list-inline-item" *ngFor="let tag of discussion?.tags">
            <a class="link-unstyled" [routerLink]="['/tag', tag.id]">{{removeQuotes(tag.name)}}</a>
          </li>
        </ul>
      </small>
        <small class="text-muted">
        <span *ngIf="!discussion?.modified">created {{discussion?.created | moment}}</span>
        <span *ngIf="discussion?.modified"><i>modified {{discussion?.modified | moment}}</i></span>
          by {{discussion?.userName}}
      </small>
        <ul class="list-inline">
          <li *ngIf="discussion?.private_" class="tag tag-danger list-inline-item">Private</li>
          <li *ngIf="discussion && !isCreator()" role="button"
            class="list-inline-item" (click)="toggleShowVoteSlider()"
            tooltipPlacement="bottom" tooltip="Vote"><i class="fa fa-fw fa-star-half-o"></i></li>
          <li *ngIf="discussion?.avgRank" class="tag tag-pill tag-default list-inline-item"
            tooltipPlacement="bottom" tooltip="Average Score">
            {{discussion?.avgRank}}</li>
          <li *ngIf="discussion?.userRank" class="tag tag-pill tag-info list-inline-item"
            tooltipPlacement="bottom" tooltip="Your Vote">
            {{discussion?.userRank}}</li>
          <li *ngIf="discussion?.numberOfVotes" class="text-muted list-inline-item">
            <small> {{discussion?.numberOfVotes}} votes</small></li>
          <li *ngIf="discussion?.link" class="list-inline-item">
            <a class="link-unstyled" href="{{discussion?.link}}"
              target="_blank"><i class="fa fa-external-link"
              aria-hidden="true" tooltipPlacement="bottom" tooltip="Link"></i></a>
          </li>
          <li class="list-inline-item" role="button">
            <a [routerLink]="['/discussion', discussion?.id]"
              class="link-unstyled">
              <i class="fa fa-fw fa-comments-o" tooltipPlacement="bottom"
                tooltip="Comments"></i></a>
          </li>
        </ul>
        <div *ngIf="showVoteSlider">
          <input [value]="discussion?.userRank" (mouseup)="saveDiscussionRank($event.target.value)"
            (touchend)="saveDiscussionRank($event.target.value)"
            (input)="updateDiscussionRank($event.target.value)"
            type="range" min="0" max="100"
            step="1" (value)="discussion?.userRank"
            name="discussion_rank" />
        </div>
      </div>
    </div>
    <div *ngIf="editMode && discussion?.title">
      <div class="card-block">
        <div class="form-group row">
          <label class="col-sm-1 form-control-label">Title</label>
          <div class="col-sm-11">
            <input [(ngModel)]="discussion.title" class="form-control"
              maxlength="140" name="discussion_title"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-1 form-control-label">Link</label>
          <div class="col-sm-11">
            <input [(ngModel)]="discussion.link" #discussionLink="ngForm"
              placeholder="optional" class="form-control"
              pattern="[-a-zA-Z0-9@:%_\+.~#?&//=]{2,256}\.[a-z]{2,4}\b(\/[-a-zA-Z0-9@:%_\+.~#?&//=]*)?"
              name="discussion_link" />
            <div *ngIf="discussionLink.dirty" class="row col-sm-12 help-block text-danger">
              <small *ngIf="discussionLink.errors?.pattern">Invalid URL</small>
            </div>
          </div>
        </div>
        <div class="checkbox">
          <label>
            <input [(ngModel)]="discussion.private_"
              type="checkbox" name="discussion_private"
            /> Private
          </label>
        </div>
        <app-markdown-edit [focus]="false" [inputText]="discussion.text"
          (textEvent)="setEditText($event)"></app-markdown-edit>
        <br>
        <div class="form-group row">
          <label class="col-sm-1 form-control-label">Tags</label>
          <div class="col-md-5 input-group">
            <input #tagTerm="ngForm" [(ngModel)]="tagSearchSelected"
              [typeahead]="tagSearchResultsObservable"
              (typeaheadOnSelect)="tagTypeaheadOnSelect($event.item)"
              [typeaheadOptionField]="'name'"
              (typeaheadLoading)="tagChangeTypeaheadLoading($event)"
              (typeaheadNoResults)="tagChangeTypeaheadNoResults($event)"
              [typeaheadWaitMs]="200" class="form-control"
              minlength="5" maxlength="20"
              pattern="[a-zA-Z0-9_-]+" name="tag_search">
            <button [disabled]="!tagTerm.valid || tagTerm.value.length == 0"
              (click)="createTag()" class="input-group-addon btn btn-primary"><i class="fa fa-fw fa-plus"></i></button>
          </div>
          <ul *ngIf="discussion?.tags" class="col-md-6 list-inline form-control-label">
            <li role="button" (click)="removeTag(tag)"
              class="tag tag-default list-inline-item"
              *ngFor="let tag of discussion?.tags">
              <span>{{removeQuotes(tag.name)}}<i class="fa fa-fw fa-remove"></i></span>
            </li>
          </ul>
          <div *ngIf="tagTypeaheadLoading===true">
            <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
          </div>
          <div *ngIf="tagTerm.dirty" class="row col-sm-12 help-block text-danger">
            <small *ngIf="tagTerm.errors?.pattern">Invalid Tag</small>
          </div>
          <div *ngIf="tagTypeaheadNoResults===true"
            class="">
            <i class="fa fa-fw fa-remove"></i>No
            Results Found
          </div>
          <div *ngIf="tooManyTagsError" class="row col-sm-12 help-block text-danger">
            <small>Can't Add more than 3 tags</small>
          </div>
        </div>
        <div *ngIf="discussion?.private_" class="form-group row">
          <label class="col-sm-1 form-control-label">Invite Users</label>
          <div class="col-md-5">
            <input #userTerm="ngForm" [(ngModel)]="userSearchSelected"
              [typeahead]="userSearchResultsObservable"
              (typeaheadOnSelect)="userTypeaheadOnSelect($event.item)"
              [typeaheadOptionField]="'name'"
              (typeaheadLoading)="userChangeTypeaheadLoading($event)"
              (typeaheadNoResults)="userChangeTypeaheadNoResults($event)"
              [typeaheadWaitMs]="200" class="form-control"
              name="user_search">
            <div *ngIf="userTypeaheadLoading===true">
              <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
            </div>
          </div>
          <ul *ngIf="discussion?.privateUsers" class="col-md-6 list-inline form-control-label">
            <li role="button" (click)="removePrivateUser(privateUser)"
              class="tag tag-default list-inline-item"
              *ngFor="let privateUser of privateUsersWithoutYou()">
              <span>{{privateUser.name}}<i class="fa fa-fw fa-remove"></i></span>
            </li>
          </ul>
          <div *ngIf="userTypeaheadNoResults===true"
            class="">
            <i class="fa fa-fw fa-remove"></i>No
            Results Found
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-1 form-control-label">Block Users</label>
          <div class="col-md-5">
            <input #blockedUserTerm="ngForm" [(ngModel)]="blockedUserSearchSelected"
              [typeahead]="blockedUserSearchResultsObservable"
              (typeaheadOnSelect)="blockedUserTypeaheadOnSelect($event.item)"
              [typeaheadOptionField]="'name'"
              (typeaheadLoading)="blockedUserChangeTypeaheadLoading($event)"
              (typeaheadNoResults)="blockedUserChangeTypeaheadNoResults($event)"
              [typeaheadWaitMs]="200" class="form-control"
              name="block_user_search">
            <div *ngIf="blockedUserTypeaheadLoading===true">
              <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
            </div>
          </div>
          <ul *ngIf="discussion?.blockedUsers" class="col-md-6 list-inline form-control-label">
            <li role="button" (click)="removeBlockedUser(blockedUser)"
              class="tag tag-default list-inline-item"
              *ngFor="let blockedUser of discussion.blockedUsers">
              <span>{{blockedUser.name}}<i class="fa fa-fw fa-remove"></i></span>
            </li>
          </ul>
          <div *ngIf="blockedUserTypeaheadNoResults===true"
            class="">
            <i class="fa fa-fw fa-remove"></i>No
            Results Found
          </div>
        </div>
        <br>
        <div class="btn-group" role="group">
          <button (click)="saveDiscussion()" class="btn btn-primary">Save</button>
          <button (click)="toggleEditMode()" class="btn btn-warning">Cancel</button>
          <button (click)="deleteDiscussion()" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="discussion?.deleted">
    <i>deleted {{discussion?.modified | moment}}</i>    by {{discussion?.userName}}
  </div>
</div>
