<div [class.card]="isCard()" [class.list-group-item]="!isCard()" [class.card-body]="isCard()" [class.mr-1]="isCard()">
  <div *ngIf="!discussion.deleted">
    <div *ngIf="!editing">
      <div class="row">
        <div class="px-1 col-xs-2" [ngClass]="{'col-sm-2': isCard(),
        'col-sm-1': !isCard()}">
          <ng-template #voteTemplate>
            <div [innerHtml]="voteHtml()"></div>
          </ng-template>
          <h1 class="pointer text-center" placement="bottom" [tooltip]="voteTemplate" (click)="toggleShowVoteSlider()">
            <span class="badge badge-secondary badge-pill">{{avgVote()}}</span>
          </h1>
        </div>
        <div *ngIf="!isCard() && hasImage()" class="col-xs-2 col-sm-2">
          <div [innerHTML]="discussion.link | markdown:true"></div>
        </div>
        <div [ngClass]="{'col-xs-8 col-sm-9': hasImage() && !isCard(),
          'col-xs-10 col-sm-10': isCard() ,
         'col-xs-10 col-sm-11': !hasImage() && !isCard()}">
          <div [ngClass]="{
        'card-body-no-bottom': isCard()}">
            <h5 [class.card-title]="isCard()" class="card-body-no-bottom">
              <a [routerLink]="['/discussion', discussion.id]" class="link-unstyled">{{discussion.title}} </a>
            </h5>
          </div>
          <div *ngIf="isCard() && hasImage()">
            <div [innerHTML]="discussion.link | markdown:true"></div>
          </div>
          <div [ngClass]="{
        'card-body-no-top': isCard()}">
            <p *ngIf="discussion.text" class="card-text" [innerHTML]="discussion.text | markdown"></p>

            <ul class="list-inline small mb-1">
              <li class="list-inline-item">
                <span class="text-muted">
                  <span *ngIf="!discussion.modified">created {{discussion.created | moment}}</span>
                  <span *ngIf="discussion.modified">
                    <i>modified {{discussion.modified | moment}}</i>
                  </span>
                  by
                  <a [routerLink]="['/user', discussion.creator.id]" class="link-unstyled">{{discussion.creator.name}}</a>
                  in
                </span>
              </li>
              <li *ngIf="discussion.community" class="list-inline-item">
                <a class="badge badge-primary" [routerLink]="['/community', discussion.community.id]">{{removeQuotes(discussion.community.name)}}</a>
              </li>
              <li class="list-inline-item" *ngFor="let tag of discussion.tags">
                <a class="badge badge-info" [routerLink]="['/tag', tag.id]">{{removeQuotes(tag.name)}}</a>
              </li>
            </ul>


            <ul class="list-inline small font-weight-bold text-muted link-unstyled mb-0">
              <li *ngIf="discussion.private_" class="badge badge-danger list-inline-item">Private</li>
              <li role="button" *ngIf="isCreator" (click)="toggleEditing()" class="list-inline-item pointer">edit</li>
              <li role="button" *ngIf="isCreator || isModerator" (click)="deleteDiscussion()" class="list-inline-item pointer">delete</li>
              <li *ngIf="discussion.numberOfComments" class="list-inline-item" role="button">
                <a [routerLink]="['/discussion', discussion.id]" class="link-unstyled">{{discussion.numberOfComments}} comments
                </a>
              </li>
              <li *ngIf="discussion.link" class="list-inline-item">
                <a href="{{discussion.link}}" target="_blank" class="link-unstyled">
                  <span aria-hidden="true" placement="bottom" tooltip="{{discussion.link}}">{{shortenedDiscussionLink()}}</span>
                </a>
              </li>
            </ul>
          </div>

        </div>
      </div>
      <div *ngIf="showVoteSlider" class="row">
        <div class="col-12">
          Your vote:
          <b>{{discussion.userRank}}</b>
        </div>
        <div class="col-12">
          <span>
            <i class="fa fa-thumbs-o-down mr-1 text-danger"></i>
            <div class="progress">
              <input [value]="discussion.userRank" (mouseup)="saveDiscussionRank($event.target.value)" (touchend)="saveDiscussionRank($event.target.value)"
                (input)="updateDiscussionRank($event.target.value)" type="range" min="0" max="100" step="1" (value)="discussion.userRank"
                name="discussion_rank" class="vote_input" />
            </div>
            <i class="fa fa-thumbs-o-up ml-1 text-success"></i>
          </span>
        </div>
      </div>
    </div>
    <div *ngIf="editing">
      <form #discussionForm="ngForm" class="card-body">
        <div class="form-group row">
          <label class="col-sm-2 form-control-label">Title</label>
          <div class="col-sm-10">
            <input [(ngModel)]="discussion.title" class="form-control" required minlength="3" maxlength="140" name="discussion_title"
              #discussionTitle="ngModel" autocomplete="off" />
            <div *ngIf="discussionTitle.dirty" class="help-block text-danger">
              <small *ngIf="discussionTitle.errors?.pattern">Invalid title</small>
              <small *ngIf="discussionTitle.errors?.required">A title is required</small>
              <small *ngIf="discussionTitle.errors?.minlength">The title must be more than 3 characters</small>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 form-control-label">Link</label>
          <div class="col-sm-10">
            <input [(ngModel)]="discussion.link" #discussionLink="ngModel" placeholder="optional" class="form-control" pattern="[-a-zA-Z0-9@:%_\+.~#?&//=]{2,256}\.[a-z]{2,4}\b(\/[-a-zA-Z0-9@:%_\+.~#?&//=]*)?"
              name="discussion_link" autocomplete="off" />
            <div *ngIf="discussionLink.dirty" class="row col-sm-12 help-block text-danger">
              <small *ngIf="discussionLink.errors?.pattern">Invalid URL</small>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 form-control-label">Community</label>
          <div class="col-sm-4">
            <input [(ngModel)]="communitySearchSelected" [typeahead]="communitySearchResultsObservable" (typeaheadOnSelect)="communityTypeaheadOnSelect($event.item)"
              [typeaheadOptionField]="'name'" (typeaheadLoading)="communityChangeTypeaheadLoading($event)" (typeaheadNoResults)="communityChangeTypeaheadNoResults($event)"
              [typeaheadWaitMs]="200" class="form-control" autocomplete="off" name="community_search">
            <div *ngIf="communityTypeaheadLoading===true">
              <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
            </div>
          </div>
          <ul class="col-md-6 list-inline form-control-label">
            <li class="badge badge-primary list-inline-item">
              <span>{{discussion.community.name}}</span>
            </li>
          </ul>
          <div *ngIf="communityTypeaheadNoResults===true" class="">
            <i class="fa fa-fw fa-remove"></i>No Results Found
          </div>
        </div>
        <div class="checkbox">
          <label>
            <input [(ngModel)]="discussion.private_" type="checkbox" name="discussion_private" /> Private
          </label>
        </div>
        <app-markdown-edit [focus]="false" [inputText]="discussion.text" (textEvent)="setEditText($event)"></app-markdown-edit>
        <br>
        <div class="form-group row">
          <label class="col-sm-2 form-control-label">Tags</label>
          <div class="col-sm-4 input-group">
            <input [(ngModel)]="tagSearchSelected" [typeahead]="tagSearchResultsObservable" (typeaheadOnSelect)="tagTypeaheadOnSelect($event.item)"
              [typeaheadOptionField]="'name'" (typeaheadLoading)="tagChangeTypeaheadLoading($event)" (typeaheadNoResults)="tagChangeTypeaheadNoResults($event)"
              [typeaheadWaitMs]="200" class="form-control" minlength="5" maxlength="20" pattern="[a-zA-Z0-9_-]+" name="tag_search"
              #tagTerm="ngModel" autocomplete="off">
            <button [disabled]="tagSearchSelected.length < 5 || tagSearchSelected.length > 20 || rgex.test(tagSearchSelected) == false"
              (click)="createTag()" class="input-group-addon btn btn-outline-primary">
              <i class="fa fa-fw fa-plus"></i>
            </button>
          </div>
          <ul *ngIf="discussion.tags" class="col-md-6 list-inline form-control-label">
            <li role="button" (click)="removeTag(tag)" class="badge badge-info list-inline-item" *ngFor="let tag of discussion.tags">
              <span>{{removeQuotes(tag.name)}}
                <i class="fa fa-fw fa-remove"></i>
              </span>
            </li>
          </ul>
          <div *ngIf="tagTypeaheadLoading===true">
            <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
          </div>
          <div *ngIf="tagTerm.dirty" class="row col-sm-12 help-block text-danger">
            <small *ngIf="tagTerm.errors?.pattern">Invalid Tag</small>
          </div>
          <div *ngIf="tagTypeaheadNoResults===true" class="">
            <i class="fa fa-fw fa-remove"></i>No Results Found
          </div>
          <div *ngIf="tooManyTagsError" class="row col-sm-12 help-block text-danger">
            <small>Can't Add more than 3 tags</small>
          </div>
          <div *ngIf="alreadyAddedTagError" class="row col-sm-12 help-block text-danger">
            <small>Already added that tag</small>
          </div>
        </div>
        <div *ngIf="discussion.private_" class="form-group row">
          <label class="col-sm-2 form-control-label">Invite Users</label>
          <div class="col-sm-4">
            <input [(ngModel)]="userSearchSelected" [typeahead]="userSearchResultsObservable" (typeaheadOnSelect)="userTypeaheadOnSelect($event.item)"
              [typeaheadOptionField]="'name'" (typeaheadLoading)="userChangeTypeaheadLoading($event)" (typeaheadNoResults)="userChangeTypeaheadNoResults($event)"
              [typeaheadWaitMs]="200" class="form-control" autocomplete="off" name="user_search">
            <div *ngIf="userTypeaheadLoading===true">
              <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
            </div>
          </div>
          <ul *ngIf="discussion.privateUsers" class="col-md-6 list-inline form-control-label">
            <li role="button" (click)="removePrivateUser(privateUser)" class="badge badge-info list-inline-item" *ngFor="let privateUser of discussion.privateUsers">
              <span>{{privateUser.name}}
                <i class="fa fa-fw fa-remove"></i>
              </span>
            </li>
          </ul>
          <div *ngIf="userTypeaheadNoResults===true" class="">
            <i class="fa fa-fw fa-remove"></i>No Results Found
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 form-control-label">Block Users</label>
          <div class="col-sm-4">
            <input [(ngModel)]="blockedUserSearchSelected" [typeahead]="blockedUserSearchResultsObservable" (typeaheadOnSelect)="blockedUserTypeaheadOnSelect($event.item)"
              [typeaheadOptionField]="'name'" (typeaheadLoading)="blockedUserChangeTypeaheadLoading($event)" (typeaheadNoResults)="blockedUserChangeTypeaheadNoResults($event)"
              [typeaheadWaitMs]="200" class="form-control" autocomplete="off" name="block_user_search">
            <div *ngIf="blockedUserTypeaheadLoading===true">
              <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
            </div>
          </div>
          <ul *ngIf="discussion.blockedUsers" class="col-md-6 list-inline form-control-label">
            <li role="button" (click)="removeBlockedUser(blockedUser)" class="badge badge-info list-inline-item" *ngFor="let blockedUser of discussion.blockedUsers">
              <span>{{blockedUser.name}}
                <i class="fa fa-fw fa-remove"></i>
              </span>
            </li>
          </ul>
          <div *ngIf="blockedUserTypeaheadNoResults===true" class="">
            <i class="fa fa-fw fa-remove"></i>No Results Found
          </div>
        </div>
        <br>
        <div class="btn-group" role="group">
          <button [disabled]="!discussionForm.form.valid" (click)="saveDiscussion()" class="btn btn-outline-primary">
            <span *ngIf="!isSaving">Save</span>
            <span *ngIf="isSaving">Saving
              <i class="fa fa-fw fa-circle-o-notch fa-spin"></i>
            </span>
          </button>
          <button type="button" (click)="toggleEditing()" class="btn btn-outline-warning">Cancel</button>
          <button type="button" (click)="deleteDiscussion()" class="btn btn-outline-danger">Delete</button>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="discussion.deleted">
    <i>deleted {{discussion.modified | moment}}</i> by
    <a [routerLink]="['/user', discussion.modifiedByUser.id]" class="link-unstyled">{{discussion.modifiedByUser.name}}</a>
  </div>
</div>