<div [id]="'comment_' + comment.id" class="card-block"> 
	<ul class="list-inline">
		<li class="text-muted list-inline-item" 
			role="button" 
			(click)="collapsed = !collapsed">{{collapseText()}}</li>
		<li class="text-primary list-inline-item">{{comment.userName}}</li>
		<li class="text-muted list-inline-item"><small>{{comment.created | moment}}</small></li>
	</ul>
</div>
<div *ngIf="!collapsed" class="card-block">

	<div *ngIf="!showEdit" class="card-text" 
		[class.mark]="highlight" [innerHTML]="comment.text | markdown">
	</div>
	<div *ngIf="showEdit" class="card-text">
		<app-markdown-edit [inputText]="comment.text" (textEvent)="setEdit($event)"></app-markdown-edit>
	</div>
	
	<small *ngIf="!showReply">
		<ul class="list-inline">
			<li role="button" class="list-inline-item" (click)="toggleShowReply()">
				<i class="fa fa-fw fa-reply"></i>
			</li>
			<li *ngIf="editable" (click)="toggleShowEdit()" class="list-inline-item">
				<i class="fa fa-fw fa-edit"></i>
			</li>
			<li class="list-inline-item">
				<i class="fa fa-fw fa-comments"></i>
			</li>
		</ul>
	</small>
	<fieldset *ngIf="showReply" class="form-group">
    	<app-markdown-edit (textEvent)="setReply($event)"></app-markdown-edit>
    	<br>
    	<button class="btn btn-primary" (click)="sendMessage()">Send</button>
    	<button class="btn btn-danger" (click)="hideReply()">Cancel</button>
    </fieldset> 
    <div class="card" *ngFor="let emb of comment.embedded">
       	<app-comment [comment]="emb" (replyingEvent)="setIsReplying($event)"></app-comment>
    </div>
</div>
