<div [id]="'comment_' + comment.id" class="card-block"> 
	<ul class="list-inline">
		<li class="text-muted list-inline-item" 
			role="button" 
			(click)="collapsed = !collapsed">{{collapseText()}}</li>
		<li class="text-primary list-inline-item">{{comment.userName}}</li>
		<li class="text-muted list-inline-item"><small>{{comment.created | moment}}</small></li>
	</ul>
</div>
<div *ngIf="!collapsed" class="card-block">

	<p class="card-text" 
		[class.mark]="highlight">
    {{comment.text}}</p>
	
	<small>
		<ul class="list-inline">
			<li role="button" class="list-inline-item" (click)="showReply = !showReply">reply</li>
			<li class="list-inline-item">edit</li>
		</ul>
	</small>
	<fieldset *ngIf="showReply" class="form-group">
    	<textarea class="form-control" ngDefaultControl [(ngModel)]="reply" rows="3"></textarea>
    	<br>
    	<button class="btn btn-primary" (click)="sendMessage()">Send</button>
    	<button class="btn btn-danger" (click)="showReply = false">Cancel</button>
    </fieldset> 
    <div class="card" *ngFor="let emb of comment.embedded">
       	<app-comment [comment]="emb"></app-comment>
    </div>
</div>
