<div [id]="'comment_' + comment.id" class="card-body pb-0">
  <ul class="list-inline mb-0">
    <li class="text-muted list-inline-item pointer" role="button"
      (click)="collapsed = !collapsed">{{collapseText()}}</li>
    <li class="list-inline-item">
      <a [routerLink]="['/user',comment.user.id]"
      [ngClass]="{'badge-primary':isCommunityCreator(), 'badge-warning': isCommunityModerator(), 'badge-success': isDiscussionCreator(), 'badge': !isDiscussionUser(), 'text-primary': isDiscussionUser()}" >{{comment.user.name}}
      </a>
    </li>
    <li *ngIf="comment.avgRank" class="badge badge-pill badge-info list-inline-item"
      placement="bottom" tooltip="Average Score">{{comment.avgRank}}</li>
    <li *ngIf="rank" class="badge badge-pill badge-warning list-inline-item"
      placement="bottom" tooltip="Your Vote">{{rank}}</li>
    <li *ngIf="comment.avgRank" class="text-muted list-inline-item"><small>{{comment.numberOfVotes}} votes</small></li>
    <li *ngIf="comment.deleted" class="text-muted list-inline-item"><small><i>deleted {{comment.modified | moment}} by 
      <a class="link-unstyled" [routerLink]="['/user',comment.modifiedByUser.id]">{{comment.modifiedByUser.name}}</a></i></small>
    </li>
    <span *ngIf="!comment.deleted">
      <li *ngIf="!comment.modified" class="text-muted list-inline-item"><small>{{comment.created | moment}}</small></li>
      <li *ngIf="comment.modified" class="text-muted list-inline-item"><small><i>modified {{comment.modified | moment}}</i></small></li>
    </span>
  </ul>
</div>
<div *ngIf="!collapsed" class="card-body pt-0">
  <div *ngIf="!comment.deleted">
    <div *ngIf="!showEdit" class="card-text"
      [class.mark]="isCommentNew()" [innerHTML]="comment.text | markdown">
    </div>
  </div>
  <div *ngIf="showEdit" class="card-text">
    <app-markdown-edit [inputText]="comment.text"
      (textEvent)="setEdit($event)"></app-markdown-edit>
    <br>
    <div class="btn-group" role="group">
      <button class="btn btn-outline-primary" (click)="editMessage()">Edit</button>
      <button class="btn btn-outline-danger" (click)="hideEdit()">Cancel</button>
    </div>
  </div>
  <small *ngIf="!showReply && !showEdit">
    <ul class="list-inline font-weight-bold text-muted">
      <span *ngIf="!comment.deleted">
      <li *ngIf="userService.getUser().id != comment.user.id" role="button" class="list-inline-item pointer" (click)="toggleShowVoteSlider()">
        vote
      </li>
      <li role="button" class="list-inline-item pointer" (click)="toggleShowReply()">
        reply
      </li>
      <li role="button" *ngIf="editable" (click)="toggleShowEdit()" class="list-inline-item pointer">
        edit
      </li>
      <li role="button" *ngIf="editable || deleteable" (click)="deleteComment()" class="list-inline-item pointer">
        delete
      </li>
      </span>
      <li *ngIf="comment.parentId" role="button" class="ml-1 list-inline-item">
        <a class="link-unstyled" [routerLink]="['/discussion', comment.discussionId, 'comment', comment.parentId]"><i class="fa fa-fw fa-level-up" placement="bottom" tooltip="View Parent"></i></a>
      </li>
      <li *ngIf="!comment.parentId" role="button" class="ml-1 list-inline-item">
        <a class="link-unstyled" [routerLink]="['/discussion', comment.discussionId]"><i class="fa fa-fw fa-level-up" placement="bottom" tooltip="View Discussion"></i></a>
      </li>
      <li *ngIf="comment.id != comment.topParentId || comment.parentId == null" role="button" class="list-inline-item">
        <a class="link-unstyled" [routerLink]="['/discussion', comment.discussionId, 'comment', comment.id]"><i class="fa fa-fw fa-level-down" placement="bottom" tooltip="View Children"></i></a>
      </li>
    </ul>
  </small>
  <div *ngIf="showVoteSlider">
    <input [value]="rank" (mouseup)="saveRank($event.target.value)"
      (touchend)="saveRank($event.target.value)"
      (input)="updateRank($event.target.value)"
      type="range" min="0" max="100" step="1" class="vote_input"
      (value)="rank" />
  </div>
  <fieldset *ngIf="showReply" class="form-group">
    <app-markdown-edit (textEvent)="setReply($event)"></app-markdown-edit>
    <br>
    <div class="btn-group" role="group">
      <button class="btn btn-outline-primary" (click)="sendMessage()">Send</button>
      <button class="btn btn-outline-danger" (click)="hideReply()">Cancel</button>
    </div>
  </fieldset>
  <div class="card" *ngFor="let emb of comment.embedded">
    <app-comment [comment]="emb" [discussion]="discussion" (replyingEvent)="setIsReplying($event)"></app-comment>
  </div>
</div>
