<div [id]="'comment_' + comment.id" class="card-block">
  <ul class="list-inline">
    <li class="text-muted list-inline-item" role="button"
      (click)="collapsed = !collapsed">{{collapseText()}}</li>
    <li class="list-inline-item"
      [ngClass]="{'tag-success':isCommunityCreator(), 'tag-warning': isCommunityModerator(), 'tag-primary': isDiscussionCreator(), 'tag': !isDiscussionUser(), 'text-primary': isDiscussionUser()}">{{comment.userName}}</li>
    <li *ngIf="comment.avgRank" class="tag tag-pill tag-default list-inline-item"
      tooltipPlacement="bottom" tooltip="Average Score">{{comment.avgRank}}</li>
    <li *ngIf="rank" class="tag tag-pill tag-info list-inline-item"
      tooltipPlacement="bottom" tooltip="Your Vote">{{rank}}</li>
    <li *ngIf="comment.avgRank" class="text-muted list-inline-item"><small>{{comment.numberOfVotes}} votes</small></li>
    <li *ngIf="comment.deleted" class="text-muted list-inline-item"><small><i>deleted {{comment.modified | moment}}</i></small></li>
    <span *ngIf="!comment.deleted">
      <li *ngIf="!comment.modified" class="text-muted list-inline-item"><small>{{comment.created | moment}}</small></li>
      <li *ngIf="comment.modified" class="text-muted list-inline-item"><small><i>modified {{comment.modified | moment}}</i></small></li>
    </span>
  </ul>
</div>
<div *ngIf="!collapsed" class="card-block">
  <div *ngIf="!comment.deleted">
    <div *ngIf="!showEdit" class="card-text"
      [class.mark]="isCommentNew()" [innerHTML]="comment.text | markdown">
    </div>
  </div>
  <div *ngIf="showEdit" class="card-text">
    <app-markdown-edit [inputText]="comment.text"
      (textEvent)="setEdit($event)"></app-markdown-edit>
    <br>
    <div class="btn-group" role="group">
      <button class="btn btn-primary" (click)="editMessage()">Edit</button>
      <button class="btn btn-danger" (click)="hideEdit()">Cancel</button>
    </div>
  </div>
  <small *ngIf="!showReply && !showEdit">
    <ul class="list-inline">
      <span *ngIf="!comment.deleted">
      <li *ngIf="userService.getUser().id != comment.userId" role="button" class="list-inline-item" (click)="toggleShowVoteSlider()">
        <i class="fa fa-fw fa-star-half-o" tooltipPlacement="bottom" tooltip="Vote"></i>
      </li>
      <li role="button" class="list-inline-item" (click)="toggleShowReply()">
        <i class="fa fa-fw fa-reply" tooltipPlacement="bottom" tooltip="Reply"></i>
      </li>
      <li role="button" *ngIf="editable" (click)="toggleShowEdit()" class="list-inline-item">
        <i class="fa fa-fw fa-edit" tooltipPlacement="bottom" tooltip="Edit"></i>
      </li>
      <li role="button" *ngIf="editable || deleteable" (click)="deleteComment()" class="list-inline-item">
        <i class="fa fa-fw fa-remove" tooltipPlacement="bottom" tooltip="Delete"></i>
      </li>
      </span>
      <li *ngIf="comment.parentId" role="button" class="list-inline-item">
        <a class="link-unstyled" [routerLink]="['/discussion', comment.discussionId, 'comment', comment.parentId]"><i class="fa fa-fw fa-level-up" tooltipPlacement="bottom" tooltip="View Parent"></i></a>
      </li>
      <li *ngIf="!comment.parentId" role="button" class="list-inline-item">
        <a class="link-unstyled" [routerLink]="['/discussion', comment.discussionId]"><i class="fa fa-fw fa-level-up" tooltipPlacement="bottom" tooltip="View Discussion"></i></a>
      </li>
      <li *ngIf="comment.id != comment.topParentId || comment.parentId == null" role="button" class="list-inline-item">
        <a class="link-unstyled" [routerLink]="['/discussion', comment.discussionId, 'comment', comment.id]"><i class="fa fa-fw fa-level-down" tooltipPlacement="bottom" tooltip="View Children"></i></a>
      </li>
    </ul>
  </small>
  <div *ngIf="showVoteSlider">
    <input [value]="rank" (mouseup)="saveRank($event.target.value)"
      (touchend)="saveRank($event.target.value)"
      (input)="updateRank($event.target.value)"
      type="range" min="0" max="100" step="1"
      (value)="rank" />
  </div>
  <fieldset *ngIf="showReply" class="form-group">
    <app-markdown-edit (textEvent)="setReply($event)"></app-markdown-edit>
    <br>
    <div class="btn-group" role="group">
      <button class="btn btn-primary" (click)="sendMessage()">Send</button>
      <button class="btn btn-danger" (click)="hideReply()">Cancel</button>
    </div>
  </fieldset>
  <div class="card" *ngFor="let emb of comment.embedded">
    <app-comment [comment]="emb" [discussion]="discussion" (replyingEvent)="setIsReplying($event)"></app-comment>
  </div>
</div>
