<select [ngModel]="userService.getUserSettings().defaultSortTypeRadioValue" (ngModelChange)="changeEvent($event)"
  class="form-control discussion-card-select">
  <option disabled>Sorting</option>
  <option disabled>──────────</option>
  <option value="modified__desc">New</option>
  <option value="time-86400">Day</option>
  <option value="time-604800">Week</option>
  <option value="time-2628000">Month</option>
  <option value="time-31540000">Year</option>
  <option value="number_of_votes__desc">All-Time</option>
</select>