<nav class="navbar navbar-full navbar-dark bg-primary">
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
    &#9776;
  </button>
  <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
    <a class="navbar-brand" href="#">Flow</a>
    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline pull-xs-right">
      <input class="form-control" type="text" placeholder="Search">
      <button class="btn btn-secondary-outline" type="submit">Search</button>
    </form>
  </div>
</nav>
<!-- Large modal -->
<button class="btn btn-primary" (click)="sampleModal.show()">Large modal</button>
<button class="btn btn-primary" (click)="loginModal.show()">Large modal</button>
<!-- sample -->
<div bsModal #sampleModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="sampleModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Large modal</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>
<!-- Modals -->
<div bsModal #loginModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" (click)="loginModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="row">
          <div class="col-md-6 vertical-line-right">
            <h4 class="text-xs-center"> Create a new account </h4>
            <br>
            <form #signupForm="ngForm" (ngSubmit)="signup()" class="form-horizontal" role="form">
              <div class="form-group">
                <div class="col-sm-12">
                  <input [(ngModel)]="signup.username" #signupName="ngForm" ngControl="signupName" class="form-control" placeholder="choose a username" required minlength="5" maxlength="140" />
                  <div *ngIf="signupName.dirty" class="row col-sm-12 help-block text-danger">
                    <small *ngIf="signupName.errors?.required">A username is required</small>
                    <small *ngIf="signupName.errors?.minlength">Username must be more than 5 characters</small>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <input [(ngModel)]="signup.password" #signupPassword="ngForm" ngControl="signupPassword" type="password" class="form-control" placeholder="password" required />
                  <div *ngIf="signupPassword.dirty" class="row col-sm-12 help-block text-danger">
                    <small *ngIf="signupPassword.errors?.required">a password is required</small>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <input [(ngModel)]="signup.verifyPassword" #signupVerifyPassword="ngForm" ngControl="signupVerifyPassword" type="password" class="form-control" placeholder="verify password" required />
                  <div *ngIf="signupVerifyPassword.dirty" class="row col-sm-12 help-block text-danger">
                    <small *ngIf="signupVerifyPassword.errors?.required">a password is required</small>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <input [(ngModel)]="signup.email" ngControl="signupEmail" class="form-control" placeholder="email (optional)" />
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <button [disabled]="!signupForm.form.valid" type="submit" class="btn btn-primary btn-lg btn-block">Sign up</button>
                </div>
              </div>
            </form>
          </div>
          <!-- The sign up tab -->
          <div class="col-md-6">
            <h4 class="text-xs-center"> Log in </h4>
            <br>
            <form id="login_form" class="form-horizontal">
              <div class="form-group">
                <div class="col-sm-12">
                  <input name="user_or_email" class="form-control" placeholder="username or email" minlength="5" maxlength="140" data-bv-notempty="true" data-bv-notempty-message="A username or email is required" />
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <input name="password" type="password" class="form-control" id="inputPassword3" placeholder="password" data-bv-notempty="true" data-bv-notempty-message="The password is required and cannot be empty" data-bv-different-field="username" data-bv-different-message="The password cannot be the same as username" />
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <button id="signinBtn" type="submit" class="btn btn-primary btn-lg btn-block" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>">Login</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
