app-markdown-edit {
  display: table;
  width: 100%;
  padding-right: 80px;
  float: left;
}

.special-nav-button {
  position: absolute;
  bottom: .5rem;
  right: 20px;
}

.bottom-margin {
  margin-bottom: 90px;
}

.fa {
  vertical-align: middle
}

.link-unstyled {
  color: inherit;
  text-decoration: inherit;
}
