<div class="container">
  <h3>Trending Discussions</h3>
  <small>
  <ul *ngIf="popularTags" class="list-inline">trending tags:
    <li class="label label-default list-inline-item"
      *ngFor="let tag of popularTags">
      <a class="link-unstyled" [routerLink]="['/tag', tag.id]">{{removeQuotes(tag.name)}}</a>
    </li>
  </ul>
  </small>
  <div (window:scroll)="onScroll($event)" class="card-columns card-columns-lg-4 card-columns-md-3 card-columns-xs-1">
    <app-discussion-card *ngFor="let discussion of discussions"
      [discussion]="discussion"></app-discussion-card>
  </div>
</div>
<app-footer></app-footer>
