.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}

.overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.remove-btn {
    margin-top: 4px;
}
