<div class="col-lg-11 col-xs-12">
  <div class="row">
    <div class="col-xs-12" [class.col-md-10]="!editing">
      <app-community-card *ngIf="community" [community]="community"
        [(editing)]="editing"></app-community-card>
    </div>
    <div *ngIf="!editing" class="col-xs-12 col-md-2">
      <select [ngModel]="sorting" (ngModelChange)="resort($event)"
        class="form-control">
        <option disabled>Sorting</option>
        <option disabled>──────────</option>
        <option value="modified__desc">New</option>
        <option value="time-3600">Hour</option>
        <option value="time-86400">Day</option>
        <option value="time-604800">Week</option>
        <option value="time-2628000">Month</option>
        <option value="time-31540000">Year</option>
        <option value="avg_rank__desc">All-Time</option>
      </select>
    </div>
  </div>
  <div *ngIf="!editing">
    <div class="card-deck-wrapper">
      <div (window:scroll)="onScroll($event)" class="card-deck">
        <app-discussion-card class="col-md-4" *ngFor="let discussion of discussions"
          [discussion]="discussion"></app-discussion-card>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <i *ngIf="!discussions" class="fa fa-circle-o-notch fa-spin fa-5x text-xs-center block"></i>
        <h4 *ngIf="discussions?.length == 0">No Discussions</h4>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
