<div>
  <div class="row mb-2">
    <div class="col-xs-12" [class.col-md-10]="!editing" [class.col-md-12]="editing">
      <app-community-card *ngIf="community" [community]="community" [(editing)]="editing"></app-community-card>
    </div>
    <div *ngIf="!editing" class="col-xs-12 col-md-2">
      <app-discussion-card-view-type-select [(viewType)]="viewType"></app-discussion-card-view-type-select>
      <app-discussion-card-sort-select [sortType]="sortType" (sortTypeChange)="resort($event)"></app-discussion-card-sort-select>
    </div>
  </div>
  <div *ngIf="!editing">
    <div (window:scroll)="onScroll($event)">
      <div *ngIf="!isCard()" class="list-group">
        <app-discussion-card [viewType]="viewType" *ngFor="let discussion of discussions" [discussion]="discussion "></app-discussion-card>
      </div>
      <div *ngIf="isCard()">
        <div class="col-xs-12">
          <ngx-masonry [options]="{gutter: 10, transitionDuration: '0.2s'}" [useImagesLoaded]="true">
            <ngxMasonryItem class="masonry-item mb-2" *ngFor="let discussion of discussions">
              <app-discussion-card [viewType]="viewType" [discussion]="discussion "></app-discussion-card>
            </ngxMasonryItem>
          </ngx-masonry>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <i *ngIf="loadingDiscussions" class="fa fa-circle-o-notch fa-spin fa-5x fa-center"></i>
        <h4 *ngIf="discussions?.length == 0">No Discussions</h4>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>